Repository ifeelBALANCED/it-traveler: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, prevent-debug

lefthook.yml:

# Global settings
skip_output:
  - meta    # Skip displaying hook metadata
  - success # Skip displaying success messages
colors: true  # Enable colorized output

# Pre-commit hook - Run before committing
pre-commit:
  parallel: true
  piped: false  # Don't pipe output between commands
  commands:
    # Lint only staged files
    lint:
      glob: '*.{js,jsx,ts,tsx,vue}'
      run: bun run lint {staged_files}
      skip:
        - merge
        - rebase

    # Format all files to ensure consistency
    format:
      glob: '*.{js,jsx,ts,tsx,vue,json,md}'
      run: bun run format

    # Type checking
    typecheck:
      glob: '*.{ts,tsx}'
      run: bun run type-check
      skip:
        - merge
        - rebase

    # Prevent debug code from being committed
    prevent-debug:
      glob: >
        *.{js,jsx,ts,tsx,vue}
      run: |
        grep -L "console.log\\|debugger" {staged_files} || echo "Warning: Debug code detected in staged files!"

# Commit message hook - Validate commit messages
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: bunx --no-install commitlint --edit "$1"
    spelling-check:
      run: |
        COMMIT_MSG=$(cat "$1")
        TYPOS=$(echo "$COMMIT_MSG" | bunx --no-install cspell stdin --no-progress)
        if [ -n "$TYPOS" ]; then
          echo "Possible spelling errors in commit message: $TYPOS"
          exit 1
        fi

# Pre-push hook - Run before pushing to remote
pre-push:
  commands:
    full-test:
      run: bun run test:unit
    build-check:
      run: bun run build

# Post-merge hook - Run after merging branches
post-merge:
  commands:
    dependencies-check:
      run: |
        if git diff --name-only HEAD@{1} HEAD | grep -E 'bun\.lock|package\.json'; then
          echo "üì¶ Dependency changes detected, updating packages..."
          bun install
        fi
    migrations-check:
      run: |
        if git diff --name-only HEAD@{1} HEAD | grep -E 'migrations/|schema\.'; then
          echo "üóÉÔ∏è Database changes detected, running migrations..."
          bun run migrate
        fi

# Post-checkout hook - Run after checking out a branch
post-checkout:
  commands:
    cleanup:
      run: |
        # Cleanup leftover artifacts from previous branch
        bun run clean
        # Check if we need to install dependencies in the new branch
        if [ "$3" = "1" ] && git diff --name-only $1 $2 | grep -E 'bun\.lock|package\.json'; then
          echo "üì¶ Dependency changes detected in new branch, updating packages..."
          bun install
        fi

chore: make advanced lefthook configuration
  bun.lock
  lefthook.yml
  package.json
Due: format

chore: remove husky from depas
  .husky/_/commit-msg
  .husky/_/post-checkout
  .husky/_/post-merge
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  package.json
Due: format

chore: git hooks for lefthook
  .husky/_/commit-msg
  .husky/_/post-checkout
  .husky/_/post-merge
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  lefthook.yml
  package.json
Due: format

feat: add input components and forms for user authentication
  .husky/_/commit-msg
  .husky/_/post-checkout
  .husky/_/post-merge
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  bun.lock
  eslint.config.ts
  lefthook.yml
  package.json
  src/app/icons/eye-hidden.svg
  src/app/icons/eye-visible.svg
  src/app/icons/static-map.svg
  src/app/styles/main.css
  src/app/styles/variables.css
  src/features/auth/index.ts
  src/features/auth/ui/.gitkeep
  src/features/auth/ui/FormSection.vue
  src/features/auth/ui/LoginForm.vue
  src/features/auth/ui/RegisterForm.vue
  src/features/auth/ui/index.ts
  src/features/location-list/ui/LocationCard.vue
  src/features/location-list/ui/LocationList.vue
  src/main.ts
  src/pages/greeting/GreetingPage.vue
  src/pages/home/HomePage.vue
  src/pages/login/LoginPage.vue
  src/pages/register/RegisterPage.vue
  src/shared/types/button.ts
  src/shared/ui/button/BaseButton.vue
  src/shared/ui/icon/BaseIcon.vue
  src/shared/ui/index.ts
  src/shared/ui/input/BaseInput.vue
  src/shared/ui/input/index.ts
  src/shared/ui/layouts/HomeLayout/HomeLayout.vue
  src/shared/ui/password-input/PasswordInput.vue
  src/shared/ui/password-input/index.ts
  src/shared/ui/textarea/BaseTextarea.vue
  src/shared/ui/textarea/index.ts
  src/shared/ui/typography/BaseTypography.vue
  vite.config.ts
Due: lint, format, typecheck, prevent-debug

chore: update lefthook configuration for improved dependency management
  .husky/_/commit-msg
  .husky/_/post-checkout
  .husky/_/post-merge
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  bun.lock
  lefthook.yml
Due: none

feat: enhance input components with validation and error handling
  bun.lock
  package.json
  src/app/providers/router/index.ts
  src/features/auth/index.ts
  src/features/auth/model/.gitkeep
  src/features/auth/model/index.ts
  src/features/auth/model/model.ts
  src/features/auth/ui/FormSection.vue
  src/features/auth/ui/LoginForm.vue
  src/features/auth/ui/RegisterForm.vue
  src/features/location-list/ui/LocationCard.vue
  src/features/location-list/ui/LocationList.vue
  src/pages/greeting/GreetingPage.vue
  src/pages/home/HomePage.vue
  src/pages/login/LoginPage.vue
  src/pages/not-found/NotFoundPage.vue
  src/pages/register/RegisterPage.vue
  src/shared/lib/validations/custom-rules/index.ts
  src/shared/lib/validations/custom-rules/strong-password.rule.ts
  src/shared/lib/validations/index.ts
  src/shared/lib/validations/regle.global.config.ts
  src/shared/ui/field-error/FieldError.vue
  src/shared/ui/field-error/index.ts
  src/shared/ui/index.ts
  src/shared/ui/input/BaseInput.vue
  src/shared/ui/password-input/PasswordInput.vue
  src/shared/ui/textarea/BaseTextarea.vue
  tsconfig.node.json
Due: lint, format, typecheck, prevent-debug

style: standardize color values in CSS files
  src/app/styles/main.css
  src/app/styles/variables.css
Due: none

feat: enhance button components with loading state and disabled functionality
  src/app/icons/loader.svg
  src/features/auth/ui/LoginForm.vue
  src/features/auth/ui/RegisterForm.vue
  src/shared/ui/button/BaseButton.vue
Due: lint, format, prevent-debug

feat: add map for leaflet
  bun.lock
  package.json
  src/features/auth/model/model.ts
  src/features/auth/ui/FormSection.vue
  src/features/auth/ui/LoginForm.vue
  src/features/auth/ui/RegisterForm.vue
  src/features/location-list/ui/LocationCard.vue
  src/pages/home/HomePage.vue
  src/shared/lib/validations/custom-rules/index.ts
  src/shared/lib/validations/custom-rules/strong-password.rule.ts
  src/shared/lib/validations/index.ts
  src/shared/lib/validations/regle.global.config.ts
  src/shared/ui/field-error/FieldError.vue
  src/shared/ui/field-error/index.ts
  src/shared/ui/input/BaseInput.vue
  src/shared/ui/password-input/PasswordInput.vue
  src/shared/ui/textarea/BaseTextarea.vue
  src/vitest.setup.ts
  src/widgets/leaflet-map/LeafletMap.vue
  src/widgets/leaflet-map/index.ts
  vite.config.ts
  vitest.config.ts
Due: lint, format, typecheck, prevent-debug

feat: add client api typed generation
  e2e/navigation.spec.ts
  orval.config.ts
  package.json
  src/shared/api/apiMutator.ts
  src/shared/api/client.ts
  src/shared/api/index.ts
  src/shared/config/env.ts
  src/shared/config/iindex.ts
  src/utils/math.test.ts
  src/utils/math.ts
Due: lint, format, typecheck, prevent-debug

feat(Api): export elysia client and response types
  orval.config.ts
  src/shared/api/client.ts
  src/shared/api/index.ts
  src/shared/lib/env.ts
  src/shared/lib/iindex.ts
Due: lint, format, typecheck, prevent-debug

chore: update bun lock
  README.md
  bun.lock
  index.html
  public/favicon.ico
  public/it-traveler.svg
  src/features/auth/ui/LoginForm.vue
  src/shared/lib/config/env.ts
  src/shared/lib/config/index.ts
  vite.config.ts
  vitest.config.ts
Due: lint, format, typecheck, prevent-debug

feat: set example auth form to refactor later
  bun.lock
  package.json
  src/features/auth/model/model.ts
  src/features/auth/ui/Example.vue
  src/features/auth/ui/LoginForm.vue
  src/features/auth/ui/RegisterForm.vue
  src/features/auth/ui/SharedInput.vue
  src/features/auth/ui/index.ts
Due: lint, format, typecheck, prevent-debug

fix: validation on auth screens
  bun.lock
  package.json
  src/features/auth/model/model.ts
  src/features/auth/model/schema.ts
  src/features/auth/ui/Example.vue
  src/features/auth/ui/FormSection.vue
  src/features/auth/ui/LoginForm.vue
  src/features/auth/ui/RegisterForm.vue
  src/features/auth/ui/SharedInput.vue
  src/features/auth/ui/index.ts
  src/shared/ui/input/BaseInput.vue
  src/shared/ui/password-input/PasswordInput.vue
Due: lint, format, typecheck, prevent-debug

fix: improve eye icon positioning and input padding, add iconPosition prop for flexible alignment
  src/shared/ui/password-input/PasswordInput.vue
Due: lint, format, prevent-debug

refactor(Router): improve route meta typing, add scroll behavior, and centralize auth redirect log
  bun.lock
  package.json
  src/app/providers/router/index.ts
  src/entities/session/index.ts
  src/entities/session/model/index.ts
  src/entities/session/model/model.ts
  src/entities/user/.gitkeep
  src/features/auth/index.ts
  src/features/auth/model/model.ts
  src/features/auth/model/schema.ts
  src/features/auth/ui/LoginForm.vue
  src/features/auth/ui/RegisterForm.vue
  src/pages/home/HomePage.vue
  src/shared/api/apiMutator.ts
  src/shared/api/client.ts
  src/shared/lib/form/index.ts
  src/shared/lib/form/useAuthForm.ts
  src/shared/ui/input/BaseInput.vue
Due: lint, format, typecheck, prevent-debug

feat: improve vee-validate integration, session storage, and router guard
  bun.lock
  package.json
  src/app/App.vue
  src/app/providers/router/index.ts
  src/app/styles/main.css
  src/features/auth/model/model.ts
  src/pages/home/HomePage.vue
  src/shared/api/apiMutator.ts
  src/shared/api/client.ts
  src/shared/lib/form/useAuthForm.ts
  src/shared/lib/router/index.ts
  src/shared/lib/router/requirements.ts
Due: lint, format, typecheck, prevent-debug

feat: regenerate fresh api client
  src/shared/api/client.ts
Due: lint, format, typecheck, prevent-debug

feat: implement modal for marks
  bun.lock
  package.json
  src/entities/location/.gitkeep
  src/features/auth/api/.gitkeep
  src/features/location-list/index.ts
  src/features/location-list/model/.gitkeep
  src/features/location-list/ui/LocationCard.vue
  src/features/location-list/ui/LocationList.vue
  src/features/location/index.ts
  src/features/location/model/form.ts
  src/features/location/model/index.ts
  src/features/location/model/model.ts
  src/features/location/model/schema.ts
  src/features/location/ui/AddLocationForm.vue
  src/features/location/ui/AddLocationModal.vue
  src/features/location/ui/EditLocationForm.vue
  src/features/location/ui/EditLocationModal.vue
  src/features/location/ui/LocationCard.vue
  src/features/location/ui/LocationList.vue
  src/features/location/ui/LocationLoader.vue
  src/features/location/ui/index.ts
  src/pages/home/HomePage.vue
  src/shared/lib/composables/index.ts
  src/shared/lib/composables/useModal.ts
  src/shared/ui/modal/BaseModal.vue
  src/shared/ui/modal/index.ts
Due: lint, format, typecheck, prevent-debug

feat: correct crud for marks
  src/features/location/model/form.ts
  src/features/location/model/model.ts
  src/features/location/ui/AddLocationForm.vue
  src/features/location/ui/EditLocationForm.vue
  src/features/location/ui/LocationCard.vue
  src/features/location/ui/LocationList.vue
  src/pages/home/HomePage.vue
  src/shared/ui/modal/BaseModal.vue
  src/widgets/leaflet-map/LeafletMap.vue
Due: lint, format, typecheck, prevent-debug

refactor: split LocationForm into AddLocationForm and EditLocationForm in modals
  bun.lock
  package.json
  src/features/auth/model/model.ts
  src/features/location/model/form.ts
  src/features/location/model/model.ts
  src/features/location/ui/AddLocationForm.vue
  src/features/location/ui/EditLocationForm.vue
  src/pages/home/HomePage.vue
  src/shared/lib/composables/index.ts
  src/shared/lib/composables/useAsync.ts
  src/shared/lib/form/index.ts
  src/shared/lib/form/useAuthForm.ts
  src/widgets/leaflet-map/LeafletMap.vue
Due: lint, format, typecheck, prevent-debug

feat(Ui): enhance accessibility and testing hooks across core components
  bun.lock
  package.json
  src/features/auth/ui/LoginForm.vue
  src/features/auth/ui/RegisterForm.vue
  src/pages/home/HomePage.vue
  src/shared/ui/button/BaseButton.vue
  src/shared/ui/input/BaseInput.vue
  src/shared/ui/modal/BaseModal.vue
  src/shared/ui/password-input/PasswordInput.vue
  src/shared/ui/textarea/BaseTextarea.vue
  src/widgets/leaflet-map/LeafletMap.vue
Due: lint, format, prevent-debug

feat(Ui): enhance LocationCard with modern hover effects and improved layout
  src/app/icons/map-marker-icon.svg
  src/app/icons/user-icon.svg
  src/features/location/model/schema.ts
  src/features/location/ui/AddLocationForm.vue
  src/features/location/ui/LocationCard.vue
  src/features/location/ui/LocationList.vue
  src/pages/home/HomePage.vue
  src/widgets/leaflet-map/LeafletMap.vue
Due: lint, format, typecheck, prevent-debug

feat(Map): implement interactive Leaflet map component with marker management
  bun.lock
  src/pages/home/HomePage.vue
  src/widgets/leaflet-map/LeafletMap.vue
Due: lint, format, prevent-debug

feat(Map): add control buttons for locate, pin drop, and view reset
  bun.lock
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  src/app/icons/locate-icon.svg
  src/app/icons/pin-icon.svg
  src/app/icons/reset-icon.svg
  src/shared/api/client.ts
  src/widgets/leaflet-map/LeafletMap.vue
Due: lint, format, typecheck, prevent-debug

feat(Map): implement drag-to-edit markers with position reset
  bun.lock
  src/features/location/model/form.ts
  src/features/location/model/model.ts
  src/features/location/ui/EditLocationForm.vue
  src/features/location/ui/index.ts
  src/pages/home/HomePage.vue
  src/widgets/leaflet-map/LeafletMap.vue
Due: lint, format, typecheck, prevent-debug

feat(Map): implement drag-to-edit markers with position reset on cancel
  src/features/location/model/form.ts
Due: lint, format, typecheck, prevent-debug

feat(Ui): implement floating sidebar overlay layout
  bun.lock
  src/features/location/ui/LocationCard.vue
  src/features/location/ui/LocationList.vue
  src/features/location/ui/index.ts
  src/pages/home/HomePage.vue
  src/widgets/leaflet-map/LeafletMap.vue
Due: lint, format, typecheck, prevent-debug

refactor(Icons): replace inline SVGs with Icon component system
  bun.lock
  src/app/icons/chevron-left.svg
  src/app/icons/location.svg
  src/app/icons/logout.svg
  src/app/icons/plus.svg
  src/app/icons/refresh.svg
  src/pages/home/HomePage.vue
  src/shared/ui/icon/BaseIcon.vue
Due: lint, format, prevent-debug
